<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hmj.demo.plugin1">

    <application android:allowBackup="true">
        <receiver
            android:name=".PluginReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.hmj.demo.plugin1.receiver" />
            </intent-filter>
        </receiver>

        <provider
            android:name=".PluginProvider"
            android:authorities="plugin1"
            android:enabled="true"
            android:exported="true"/>
        <service android:name=".PluginStartService" />
        <service android:name=".PluginBindService" />
    </application>

</manifest>